h1{
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 36px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
}